// Colors

$primary: getColour(primary-color, 0.85);
$secondary: getColour(primary-background-color);



// button radius 
$border-radius: 4px;

// Fonts

$font-family-sans-serif: "roboto";
$font-size-base: 1.125rem;
$headings-font-family: "playfair";

$btn-font-family: "bebas";


// carousel

$carousel-indicator-active-bg: getColour(accent-color, 1);
$carousel-indicator-width: 50px;
$carousel-indicator-height: 50px;
$carousel-indicator-spacer: 5px;
$carousel-control-width: 10%;

// dropdown

$dropdown-item-padding-y: 0 !default;
$dropdown-item-padding-x: 0 !default;

$body-bg-dark: getColour(primary-background-color, 1) !default;
$body-color-dark: getColour(white) !default;
$body-tertiary-bg-dark: getColour(white, 0.2);

$border-color-dark: none;
$border-color-translucent-dark: none;

// carousel

$carousel-transition: transform 0.1s ease-in-out !important;

// table


