html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  max-width: 1920px;
  margin: 0 auto;

  .section-heading {
    text-align: center;
    border-bottom: 2px solid getColour(accent-color, 1);
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
  }
}

.last_chance-listings-results-container,
.newest-listings-results-container {
  width: 95%;
  margin: 0 auto;
}



.wrapper {
  flex: 1 0 auto;
  background-color: getColour(secondary-background-color);
}



.btn-primary:hover {
  background-color: getColour(primary-color, 1) !important;
  border-color: none !important;
}

.btn-secondary:hover {
  background-color: getColour(white, 0.1) !important;
  border-color: none !important;
}

.error {
  color: getColour(error-message-color);
  background-color: getColour(white, 1);
  padding: 10px;
  border-radius: 2px;
}

