html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: 6rem;
}

section {
  max-width: 1920px;
  margin: 0 auto;

  .section-heading {
    text-align: center;
    border-bottom: 2px solid getColour(accent-color, 1);
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
  }
}

.last_chance-listings-results-container,
.newest-listings-results-container {
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  flex: 1 0 auto;
  background-color: getColour(secondary-background-color);
}

@media (max-width: 768px) {
  .btn {
    font-size: 16px !important;
  }
}

.btn-primary:hover {
  background-color: getColour(primary-color, 1) !important;
  border-color: none !important;
  text-decoration: underline;
}

.btn-secondary:hover {
  background-color: getColour(white, 0.1) !important;
  border-color: none !important;
  text-decoration: underline;
}

.btn-danger {
  background-color: getColour(error-message-color, 0.85) !important;
  border-color: none !important;
  text-decoration: none;
  color: getColour(white) !important;
  padding: 7px 20px !important;

  &:hover {
    background-color: getColour(error-message-color, 1) !important;
  }
}

.btn-accent {
  background-color: getColour(accent-color, 1) !important;
  border-color: none !important;
  text-decoration: none;
  color: getColour(white) !important;
  padding: 7px 20px !important;
}

.error {
  text-align: center;
  color: getColour(error-message-color);
  background-color: getColour(white, 1);
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.success {
  text-align: center;
  color: getColour(success-message-color);
  background-color: getColour(white, 1);
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.normal {
  text-align: center;
  color: getColour(normal-message-color);
  background-color: getColour(white, 1);
  width: 80%;
  margin: 0 auto;
}

.success-border {
  border: 1px solid getColour(success-message-color) !important;
}

.error-border {
  border: 1px solid getColour(error-message-color) !important;
}

.primary-link {
  background-color: getColour(primary-color, 0.85) !important;
  color: getColour(black);
  padding: 8px 16px !important;
  border-radius: 4px;

  &:hover {
    background-color: getColour(primary-color, 1) !important;
  }
}

.secondary-link {
  color: getColour(white) !important;
  padding: 8px 16px !important;
  border-radius: 4px;

  &:hover {
    background-color: getColour(white, 0.1) !important;
  }
}

.width-97 {
  width: 97% !important;
}

