.listings-results-container {
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: getColour(white, 0.6) !important;
  border: 1px getColour(accent-color, 1) solid !important;
  height: 140px;
  width: 175px;

  time {
    text-align: center;
    font-size: 14px;
  }

  @media (min-width: $width-medium) {
    height: 260px;
    width: 360px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0.5rem 1rem getColour(primary-background-color, 0.85);
    background-color: getColour(white, 1) !important;
  }

  .card-img-top {
    height: 150px;
    object-fit: cover;

    @media (min-width: $width-medium) {
      height: 218px;
    }
  }
}
