.listings-results-container,
.last-chance-listings-container {
  width: 90%;
  margin: 0 auto;
}

.card,
.profile-listings-card {
  background-color: getColour(white, 0.6) !important;
  border: 1px getColour(accent-color, 1) solid !important;

  time {
    text-align: center;
    font-size: 14px;
  }

  .profile-listings-card-card-content {
    padding: 0 5px;

    p {
      font-size: 16px;
    }

    h4 {
      height: 50px;
      font-size: 21px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0.5rem 1rem getColour(primary-background-color, 0.85);
    background-color: getColour(white, 1) !important;
  }
}

.card {
  height: 140px;
  width: 150px;

  .card-card-content {
    padding: 0 5px;

    p {
      font-size: 16px;
    }

    h4 {
      height: 50px;
      font-size: 21px;
    }
  }

  @media (min-width: $width-medium) {
    height: 220px;
    width: 260px;

    p {
      font-size: 18px;
    }
  }

  .card-img-top {
    height: 140px;
    object-fit: cover;

    @media (min-width: $width-medium) {
      height: 180px;
    }
  }
}
