.carousel {
  &-item {
    height: 100%;

    img {
      object-fit: cover;
    }
  }

  &-inner {
    height: 300px;
    width: 100%;

    @media (min-width: $width-small) {
      width: 100%;
      height: 500px;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &-indicators {
    position: relative !important;
    margin: auto;
  }
}
