.login_register_container {
  button {
    padding: 7px 40px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline !important;
    }
  }
}

.login_register_form-container {
  max-width: 500px !important;
  width: 90% !important;
  margin: 0 auto;

  #register-form-agree-label {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline !important;
      cursor: pointer;
    }
  }
}
