
  .login_register_form-container {
    max-width: 500px !important;
    width: 100% !important;
    margin: 0 auto;
 

  button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px 40px;
  }

}
