.tag-input {
  input {
    border: none;
    padding: 0.5em;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .tag {
    background-color: getColour(accent-color, 1) !important;
    color: getColour(white, 1) !important;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    display: inline-block;
    margin: 0.2em;
    cursor: pointer;
     
  

  }
}

.tags {
  margin-bottom: 1.5em;

  img {
    height: 50px;
    width: 50px;
  }
}
