.tag-input {
  input {
    border: none;
    padding: 0.5em;
  }

  input:focus {
    outline: none;
  }

  .tag {
    background-color: getColour(accent-color, 1) !important;
    color: getColour(white, 1) !important;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    display: flex;
    width: fit-content;
    margin: 0.2em;

    i {
      margin-left: 0.5em;
      cursor: pointer;
      font-size: 25px;

      &:hover {
        color: getColour(white, 0.5) !important;
      }
    }
  }
}

.images {
  .form-image {
    object-fit: cover;

    i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 25px;
      background-color: getColour(white, 1) !important;

      &:hover {
        color: getColour(white, 0.5) !important;
      }
    }
  }
}

#add-tag-btn,
#add-image-btn {
  border-radius: 0 5px 5px 0 !important;
}

.create-listing-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: getColour(white, 1) !important;
  z-index: 100;
}
